$background-primary: red;
$color-1: #ea54d9;
$color-2: #efab70;

.secondary {
    color: #5d5d5d;
}

.primary-border {
    border: 2px solid #a52a2a;
}

.desktop-element {
    display: block;
}

.mobile-element {
    display: none;
}

@media (max-width:1200px) {}

@media (max-width:992px) {
    .desktop-element {
        display: none !important;
    }

    .mobile-element {
        display: block !important;
    }
}

@media (max-width:768px) {}

@media (max-width:576px) {}